$main-font-size: 14px;
$accent-color: #8D81AC;
$breakpoint-tablet: 481px;
$breakpoint-desktop: 993px;
$main-font-family: 'Montserrat';
$main-title-color: #635C73;
$title-text-color: #323232;
$product-text-color: #848E97;
$about_product-bckg-color: #E5E5E5;